<%= content_tag(:div, class: "episode-entry" <> (if rem(@index,2) == 0 do " alt" else "" end) ) do %>
    <%= content_tag(:h2, @episode.title) %>
    <%= episode_cover_as_play_button(@episode) %>
    <%= content_tag(:div, (@episode.summary || raw @episode.description || raw @episode.content_encoded), class: "episode-summary") %>
<% end %>
