/* This file is for your main application css. */

@import "tachyons-sass/tachyons.scss";

.svg-icon {
  width: 36px;
  height: 36px;
  position: relative;
  top: 9px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: rgba(0, 0, 0, 0.7);
}

// .svg-icon circle {
//   stroke: #4691f6;
//   stroke-width: 1;
// }

.copy-btn {
  cursor: pointer
}

.raw-debug {
    font-size: 8pt;
    margin: 10pt;
    padding: 10pt;
}

pre.highlight {
    padding: 5pt;
    border-radius: 4pt;
    white-space: pre-wrap;
}

section {
  text-align: center;
}


p.alert {
  display: block;
  border: 4pt solid rgb(226, 213, 29);
  padding: 10pt;
  border-radius: 5pt;
  margin: 20pt;
  color: rgb(158, 158, 4);
  background: rgb(255, 255, 134);
}

p.alert-danger {
  border-color: red;
  color: rgb(117, 0, 0);
  background: rgb(255, 129, 129);
}

.hide-me {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow: hidden;
      padding: 0;
      margin: 0;
      border: none;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
      padding: 0;
      margin: 0;
      border: none;
  }
}

section#podcast-header {
  text-align: left;
  min-height: 140pt;
  width: 100%;
  position: fixed;
  background-image: linear-gradient(white, white 50%, rgba(255,255,255,0));
  z-index: 1;

  img {
    position: absolute;
    left: 5pt;
    top: 5pt;
    width: 140pt;
  }

  h2, p, a {
    margin-left: 150pt;
    color: black;
  }
}

section#podcast-player {
  padding-top: 160pt;
}

section#episodes { 
div.episode-entry {
  max-width: 600pt;
  min-width: 400pt;
  min-height: 100pt;
  text-align: left;
  margin: 0pt auto;
  padding: 10pt;
  position:relative;

  &.alt {
    background: rgb(228, 228, 228);
  }


  img {
    width: 100pt;
    position: relative;
    left: 10pt;
    top: 10pt;
    object-fit: contain;
    position: absolute;
  }

  h2 {
    margin-left: 105pt;
    margin-top: 0pt;
    padding-top: 0pt;
  }

  .episode-summary {
    margin-left: 105pt;
  }

  img.start-player-btn {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
}