<form>
  <fieldset>
    <legend class="text-grey-dark uppercase tracking-wide mb-4">Enter your Podcast Feed</legend>
    <div class="flex w-full items-stretch justify-between rounded overflow-hidden">
      <%= tag(:input, type: "text", placeholder: "podcast feed URL", class: "px-4 py-3 flex-1 bg-grey-lighter text-grey-dark", name: "feed_url", value: assigns[:feed_url] || "") %>
      <input class="flex-2 px-6 py-3 bg-blue-dark text-white" type="submit" value="Generate" />
    </div>
  </fieldset>
</form>
